# xcode noise
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
*/build/*
*.app/



# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# for this git directory: fb-rotate
fb-rotate

